.App, 
.Layout {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.ant-layout-content {
  background: transparent !important;
}

.App-link {
  color: #b909a2;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container {
  padding: 0 16px;
  margin: 200px 600px
}

.tag-container {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.input-container {
  display: inline;
}

#icon-search {
  position: relative;
  left: -40px;
  top: 2px;
}

#icon-search:hover {
  color: #ffe !important;
  opacity: 1 !important;
} 

#input-search {
  font-size: 20px;
  line-height: 24px;
  color: #ffe;
  width: 80%;
  padding: 16px 120px 16px 20px;
  margin: 10px 0;
  background: rgba(255,255,255,.2);
  cursor: pointer;
}

#input-search::placeholder {
  color: rgba(255,255,255,.5);
}

.tag-button {
  font-size: 16px !important;
  margin: 5px !important;
  padding: 20px 20px !important;
  display: flex !important;
  align-items: center !important;
}

.tag-button:hover{
  color: #b909a2 !important;
}

.tag-button:focus{
  color: #b909a2 !important;
}
